<div class="container">
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <formly-form
        [model]="model"
        [fields]="fields"
        [options]="options"
        [form]="form"
      ></formly-form>
      <button
        type="submit"
        class="btn btn-primary submit-button"
        [disabled]="!form.valid"
        style="margin: 2px"
      >
        Submit
      </button>
      <button type="button" class="btn btn-secondary" (click)="reset()">
        Reset
      </button>
    </form>
  </div>
</div>
