<div class="container">
  <h2 class="header">AG Grid Operations</h2>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-4">
        <button class="btn btn-sm btn-success" (click)="addNewUser()">
          Add User
        </button>
      </div>
    </div>
  </div>
  <br />
  <ag-grid-angular
    style="width: 100%; height: 200px"
    class="ag-theme-blue"
    (gridReady)="onGridReady($event)"
    [columnDefs]="columnDefs"
    [rowData]="users"
    rowSelection="single"
  >
  </ag-grid-angular>
</div>
